/* ---------------------------- App wide ---------------------------- */

:root {
  --product: rgb(22, 22, 22);
  --nav: rgb(31, 31, 31);
  --shadow: rgb(0, 0, 0);
  --price: rgb(158, 238, 134);
  /* --background: linear-gradient(to bottom right, rgb(36, 63, 85), rgb(22, 22, 22)); */
  --background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(34, 34, 34));
  --yellow: rgb(252, 255, 77)
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
    /* border: white 1px solid; */
    border: rgba(255, 255, 255, 0) 1px solid;
  }


/* ---------------------------- Tags ---------------------------- */

html {
  background-image: var(--background);
  background-attachment: fixed;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

label {
  margin-right: 1.5rem;
}

input {
  margin-top: 1.5rem;
  width: 100%;
  background: transparent;
  height: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  border-bottom: 0.5px solid var(--light-gray);
  font-size: 1.2rem;
}

input:invalid[focused = 'true'] ~ span {
  display: block;
}

button {
  font-weight: bold;
  background-color: transparent;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px white solid;
  cursor: pointer;
}

span {
  margin-top: 1rem;
  text-align: left;  
  color: rgb(255, 94, 94);
  display: none
}



/* ---------------------------- class's ---------------------------- */


.mainContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;    
}

.pageTitle {
  font-size: 1.5rem;
  margin: 0 0 3rem 0;
  /* text-shadow: 0.3rem 0.5rem var(--shadow) */
}


/* ---------- nav component */
.nav {
  position: fixed;
  background-color: var(--nav);
  width: 70%;
  right: 15%;
  left: 15%;
  top: 0rem;   
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  justify-content: space-around;  
}
  .nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: stretch;
    height: 4rem;
  }
  .nav a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;    
    font-size: 0.9rem;
    padding: 0 1rem;
  }
    .nav a:hover  {
      color: rgb(255, 255, 255);
      /* border-bottom: solid orange 1px; */
    }
    .nav a:active {
      color: rgb(97, 55, 55);
    }
    .nav a.siteTitle {
      padding: 0.5rem 0;
      font-size: 2rem;
      height: auto;
      font-weight: bolder;
      color: var(--yellow);
    }

.navActive {
  color: rgb(252, 252, 252);
  /* font-weight: bolder; */
  border-bottom: var(--yellow) solid 1px ;
}
.navInactive {
  color: rgb(134, 134, 134);
}

.blur {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 5rem;
  backdrop-filter: blur(3px);
  height: 6rem;
}

.hidden {
  visibility:hidden; 
}


/* ---- */

/* ---------- product component */

.productComponent {
  position: relative;
  cursor: pointer;
  background-color: var(--product);
  padding: 1rem;
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 1rem var(--shadow);
  flex-grow: 1;
  flex-shrink: 0;  
}
.productPrice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--price);
  font-weight: bolder;
}
.productTitle {
  margin: 0.5rem 0;
  color: var(--light-gray)
}
.productImage {
  margin: 1rem;
  width: 50%;
}
.productDetails {
  display: flex;
  justify-content: space-around;
  z-index: -1;
}

/* ---- */

/* ---------- basket component */

.basketImage {
  width: auto;
  height: 10rem;
}
.basketItemComponent {
  display: flex;
  position: relative;
  text-align: left;
  font-size: 0.8rem;
  text-decoration: none;
  border-bottom: solid gray 1px;
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 40rem;
}
.basketInfoContainer {
  padding: 0 2rem;
  width: auto;
}

.basket {
  color: var(--price)
}

/* ---- */

.form {
  background-color: var(--dark-gray);
  border-radius: 2rem;
  padding: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 25rem;
  min-width: 15rem;
}

.submit {
  width: 100%;
}

.bannerImage {  
  width: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.category {
  justify-content: baseline;
  min-height: 1rem;
  color: var(--light-gray)
}

.usernameErrorMessage {
  margin-top: 1rem;
  text-align: left;  
  color: rgb(255, 94, 94);
}

.addRemoveButtons {
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 1rem;
  right: 1rem;
}

.addRemoveButton {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  border: 0;
  padding: 0
}

.listComponent {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;  
}

.halfContainer {
  position: relative;
  width: 40%;
}

.details {
  left: -10%;
  top: 2rem;
  background-color:rgb(46, 46, 46);
  padding: 3rem 3rem 5rem 8rem;  
}



/* ---------------------------- Id's ---------------------------- */

#loginOrAccount {
  margin-left: 3rem;
  margin-right: 1rem;
}







/* ---------------------------- Media Queries ---------------------------- */

@media only screen and (max-width: 700px) { 

h2 {
    font-size: 1rem;
}


.mainContainer {
  padding: 0 0rem 0 0rem;  
}

.pageTitle {
  font-size: 2rem;
  text-align: center;
}

.nav {
    justify-content: space-around;
    align-items: stretch; 
    padding: 1.5rem 0 ; 
}
  .nav ul {    
    height: 3rem;
  }
  .nav a {    
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;    
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
    .nav a.siteTitle {
        font-size: 2.5rem;
    }  


#productListComponent {  
  justify-content: center;
}

#productComponent { 
  font-size: 0.8rem;  
  width: 100%;
  max-width: 15rem;
  min-width: 8rem;  
}

}